<div class="card">
    <div class="card-header">Dropdown</div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="d-inline-block dropdown">
                    <button class="btn btn-outline-primary dropdown-toggle">Toggle dropdown</button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item">Action</li>
                        <li class="dropdown-item">Another Action</li>
                        <li class="dropdown-item">Something else is here</li>
                    </ul>
                </div>
            </div>
            <div class="col text-right">
                <div class="d-inline-block dropup">
                    <button class="btn btn-outline-primary dropdown-toggle">Toggle dropup</button>
                    <div class="dropdown-menu">
                        <button class="dropdown-item">Action</button>
                        <button class="dropdown-item">Another Action</button>
                        <button class="dropdown-item">Something else is here</button>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <p class="mb-2">You can easily control dropdowns programmatically using the exported dropdown instance.</p>
        <div class="d-inline-block dropdown">
            <button class="btn btn-outline-primary dropdown-toggle">Toggle dropdown</button>
            <div class="dropdown-menu">
                <button class="dropdown-item">Action</button>
                <button class="dropdown-item">Another Action</button>
                <button class="dropdown-item">Something else is here</button>
            </div>
        </div>
        <div class="d-inline-block dropdown" ngbDropdown>
            <button class="btn btn-outline-success">
                Open from outside
            </button>
        </div>
        <div class="d-inline-block dropdown" ngbDropdown>
            <button class="btn btn-outline-danger">
                Close from outside
            </button>
        </div>
    </div>
</div>
