<div class="card mt-3">
    <div class="card-header">Progressbar</div>
    <div class="card-body">
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="50" type="info"></div>
        </div>
        <div>
            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="150" aria-valuemax="200"  showValue="true"></div>
        </div>
        <div>
            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" aria-valuenow="100"></div>
        </div>
        <div>
            <div class="progress-bar" role="progressbar" aria-valuenow="25" type="success">25</div>
        </div>
        <div>
            <div class="progress-bar" role="progressbar" aria-valuenow="50" type="info">Copying file <b>2 of 4</b>...</div>
        </div>
        <div>
            <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" aria-valuenow="75"><i>50%</i></div>
        </div>
        <div class="mb-0">
            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" aria-valuenow="100">Completed!</div>
        </div>
    </div>
</div>
